<mat-toolbar color="primary">
  <mat-toolbar-row class="space-between">
    <span>
      <mat-icon>shopping_cart_checkout</mat-icon>
      Shopping Card
    </span>
    <button mat-raised-button color="warn" (click)="showAdd()">Add</button>
  </mat-toolbar-row>
</mat-toolbar>

<ng-container *ngIf="isShowAdd">
  <app-add-item (addItem)="handleAdd($event)">
  </app-add-item>
</ng-container>



<!-- <mat-card> -->
    <app-list-items *ngFor="let item of itemList" [item]="item" (editItem)="handleEdit($event)" (deleteItem)="handleRemove($event)">
    </app-list-items>
<!-- </mat-card> -->