.label{
 display: flex;
 width: 230px;
}

.form{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: flex-start;
    margin: 16px;
    background: antiquewhite;
  }